<md-dialog class="used-on-dialog" aria-label="Edit">

        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                 <md-button class="md-accent md-raised md-hue-2 header-apps-button"
                            ng-click=""
                            aria-label="apps button" translate-attr-aria-label="ARC.REPORTS">
                            <md-icon md-font-icon="icon-file-find" class="icon" ></md-icon>
                    <span translate="ARC.REPORTS">Reports</span>
                </md-button>
                <md-button class="md-accent md-raised md-hue-2 header-apps-button"
                            ng-click=""
                            aria-label="apps button" translate-attr-aria-label="ARC.FORMS">
                            <md-icon md-font-icon="icon-file-find" class="icon" ></md-icon>
                    <span translate="ARC.FORMS">FORMS</span>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div>

              <div class="white-bg">
                   <div class="h-30 pl-16 grey-50-bg border-bottom" layout="row" layout-align="start center">
                        <span class="font-weight-500 font-size-14" translate="ARC.REPORTS_THIS_TAG_IS_ON">Reports this tag is on</span>
                   </div>

                   <table id="reportlist" class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                        <thead>
                             <tr>
                                  <th class="secondary-text"> 
                                       <div class="table-header">
                                            <span class="column-title" translate="ARC.ID">ID</span>
                                       </div>
                                  </th>
                                  <th class="secondary-text">
                                       <div class="table-header">
                                            <span class="column-title" translate="ARC.NAME">Name</span>
                                       </div>
                                  </th>
                                  <th class="secondary-text">
                                       <div class="table-header">
                                            <span class="column-title" translate="ARC.DESCRIPTION">Description</span>
                                       </div>
                                  </th>
                                  <th class="secondary-text">
                                       <div class="table-header">
                                            <span class="column-title" translate="ARC.OWNER">Owner</span>
                                       </div>
                                  </th>  
                             </tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="report in vm.reportSet"
                                 ui-sref="app.design({id:report.Id})"
                                 style="cursor: pointer;">
                                  <td>{{ report.Id}}</td>
                                  <td>{{ report.Name }}</td>
                                  <td>{{ report.ShortDescription }}</td>
                                  <td>{{ report.Owner }}</td>
                             </tr>
                        </tbody>
                   </table>
                   </div>


</md-dialog>
