@warn "DON'T USE TAGNAME-ONLY SELECTORS FOR ANYTHING, USE CLASS/ID PARENTS";

/*
table {
  width:100%;
    border-collapse: collapse;
}

table,tr, th, td {
    border-bottom: 1px solid grey;
}
th, td {
    padding: 4px;
    text-align: left;
  border-bottom: 1px solid #ddd;

}

tr:hover{
  background-color:#f5f5f5
}


@keyframes anim {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

tr{
   transform-origin: top;
}
tr.active {
  display: table-row;
  animation: anim 0.9s ease;

}



table tr td input[type="text"]{
  width: 200px;
  -webkit-transition: width .35s ease-in-out;
  padding: 5px 5px 5px 0px;
  border-radius: 5px;
  margin:5px 5px 5px 0px;
}


table tr td input[type="text"]:focus{
  width: 250px;

}

table tr td input[type="text"].ng-dirty{
  color: #00f !important;
  background-color: rgba(0, 0, 255, 0.1);
  width: 200px;
  padding: 5px 5px 5px 0px;
  border-radius: 5px;
  margin:5px 5px 5px 0px;
}


.fa {
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;


}

/* Add a hover effect if you want */


/* Set a specific color for each brand */


.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
    font-style: italic;
    color: red;//#3a3234;
    text-decoration: none;
}

.editable-wrap .editable-controls > input{
  width: 200px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
    border: 1px solid grey;//#3a3234;
    border-radius:5px;
    padding:5px;
}

.editable-wrap .editable-controls > input:focus {
  width: 250px;
}

.editable-wrap .editable-input {
    display: inline-block;
    color:red;
    text-align: left;

}

/* Twitter */


